.addIcon::after {
  content: ' + ';
  width: 50px;
  height: 56px;
  font-size: 36px;
  color: #777;
  font-weight: bold;
  display: inline-block;
}
.addIcon:hover::after {
  color: #444;
}

.searchIcon::after {
  content: '';
  position: absolute;
  right: 2px;
  bottom: 2px;
  display: inline-block;
  width: 34px;
  height: 34px; /* equal to tailwaind's h-14 in input height*/
  background-image: url('SearchIcon.svg');
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
}
